
# Sample at toolhead/example_configs/toolhead_btt_ebbcan_G0B1_v1.2.cfg
#
## BOARD PINS
[board_pins T0_EBB36_G0B1_v1.2] 
mcu: EBB36T0
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA0,FAN1=PA1
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_endstops:
    ENDSTP1=PB6,ENDSTP2=PB5,ENDSTP3=PB7
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4

[mcu EBB36T0]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_3100480018504B5735313720-if00 
restart_method: command

# Extruder Example, change as needed. If this is T1, then should be something like extruder1
#[extruder2]
[extruder]
step_pin: EBB36T0:EXT_STEP
dir_pin: EBB36T0:EXT_DIR # SAH was: !EBB36T1:EXT_DIR
enable_pin: !EBB36T0:EXT_EN
microsteps: 16
full_steps_per_rotation: 200 # Single-turn pulse number (200 is 1.8 degrees, 400 is 0.9 degrees)
rotation_distance: 22.67895 # Driving pulley circumference mm
rotation_distance: 4.521 #4.405 # SAH calculated: 4.405 default: 4.637 for Orbiter 2.0
## Calibration step value: rotation_distance = <old rotation_distance> * <actual extrusion length> / <requested extrusion length>
nozzle_diameter: 0.400 # Nozzle diameter
filament_diameter: 1.750
heater_pin: EBB36T0:HE0  
sensor_type: ATC Semitec 104NT-4-R025H42G # 104NT-9 # PT1000
sensor_pin: EBB36T0:TH0
pullup_resistor: 4700 # 2200 Requires shorting the jumper pins! # Default: pullup_resistor: 4700
max_power: 1.0 # Heating rod PWM maximum output power
min_temp: -235 # Minimum temperature of extruder
max_temp: 500 # Maximum temperature of extruder
min_extrude_temp: 150 # The minimum extrusion temperature of the heating rod (the extruder can only perform extrusion when it reaches this temperature)
pressure_advance: 0.04 # Extruder pressure advance parameter
pressure_advance_smooth_time:0.040 # Smooth advancement time - the default value is 0.040
control: pid
pid_Kp: 43.207
pid_Ki: 13.092
pid_Kd: 35.647
#
# Nic's test values:
# pid_Kp: 18.000    ; Reduce gain to make response gentler
# pid_Ki: 2.400     ; Reduce accumulated correction
# pid_Kd: 20    ; Increase damping to resist sharp swings

max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500

#[tmc2209 extruder2]
[tmc2209 extruder]
uart_pin: EBB36T0:EXT_UART
interpolate: False
run_current: 0.6
#run_current: 0.8
#sense_resistor: 0.110
sense_resistor: 0.150          
stealthchop_threshold: 0 # Silence threshold (if silence is not required, please change the value to 0)

#[verify_heater extruder1] 
[verify_heater extruder] 
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

## See https://github.com/viesturz/klipper-toolchanger/blob/main/multi_fan.md
## Change tool number if needed here
#[multi_fan T1_partfan]
#[fan_generic T2_partfan]
[fan_generic T0_partfan]
pin: EBB36T0:FAN1
max_power: 1.0
##kick_start_time: 0.5
#kick_start_time: 0.8
#off_below: 0.10
#cycle_time: 0.15
cycle_time: 0.25

# Change tool number if needed here
#[heater_fan T2_hotend_fan]
[heater_fan T0_hotend_fan]
pin: EBB36T0:FAN0
# Change extruder tool number if needed here
#heater: extruder2
heater: extruder
heater_temp: 30 # SAH 50.0
max_power: 1.0
kick_start_time: 0.5
#tachometer_pin:toolhead0:PA1
#tachometer_ppr: 1
#tachometer_poll_interval: 0.0013

#Change tool number if needed in the next line, as well ast the last line
#[gcode_macro T2]
[gcode_macro T0]
variable_color: ""
gcode:
  SELECT_TOOL T=0

#change the tool numbers to the tool you are configuring, ie T0, T1, etc
#[tool T2]
[tool T0]
#change this too
tool_number: 0
#if this were T1, then this would be extruder1, etc
extruder: extruder
#Change T1_partfan to tool number
fan: fan_generic T0_partfan 
gcode_x_offset: 0 # T0 is always zero
gcode_y_offset: 0 # T0 is always zero
gcode_z_offset: 0 # T0 is always zero

params_type: 'sc'
#These are build specific, its where the tool is sititng in it's dock.
params_park_x: 18
params_park_y: 9 # 9.5 #10 # 10.5 # 8 #12.5 # 12 #10 #8 - tilts a lil #15 # 16 # 16.5 #16 # 15 # 6 #5 #10
params_park_z: 249 #249.5 #249.35 # 249.25 # smidge too low: 249 # Works: 249.5 # Too Low: 248.5 # Too High: 250 # Too low: 247.5 
params_close_y: 43 # 41 # SAH leave some slop? # park_y + 30
params_safe_y: 90 # 80 # SAH 20.0 # park_y + thickness of your thickest tool (plus a little buffer)

# For InputShaper run per tool and enter the frequency here
params_input_shaper_type_x: 'ei'
params_input_shaper_freq_x: 65.2
params_input_shaper_damping_ratio_x: 0.064
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 35.0
params_input_shaper_damping_ratio_y: 0.077  


# Change tool number if needed
#[tool_probe T2]
[tool_probe T0]
pin: ^EBB36T0:ENDSTP1
tool: 0 # Change tool number if needed
#x_offset: 0 # X axis-sensor relative nozzle offset
#y_offset: 0 # Y axis-sensor relative nozzle offset
z_offset: -1.97 # -1.87 # -1.97 # 0 # -1.3 # 0 # Z axis-sensor relative nozzle offset - ONLY used for T0, all others - Required to be present AND be zero (use gcode_z_offset above) -- NEGATIVE is LESS smoosh
## drop_first_result: True # enable is on danger-klipper
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
#   _TAP_PROBE_ACTIVATE HEATER=extruder2 # Change extruder number
activate_gcode:
   _TAP_PROBE_ACTIVATE HEATER=extruder # Change extruder number

#### ADXL345
[adxl345 T0]
cs_pin: EBB36T0:PB12
spi_software_sclk_pin: EBB36T0:PB10
spi_software_mosi_pin: EBB36T0:PB11
spi_software_miso_pin: EBB36T0:PB2
#axes_map: x,z,y
    
#[temperature_sensor T2-MCU]
[temperature_sensor T0-MCU]
sensor_type: temperature_mcu
sensor_mcu: EBB36T0

# SAH - No LEDS no this toohead currently
#[neopixel T2-NozzleLed]
[neopixel T0-NozzleLed]
#   The pin connected to the neopixel. This parameter must be
#   provided.
pin: EBB36T0:RGBLED
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
chain_count: 2
#color_order: GRB
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. The default is GRB.
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
#initial_WHITE: 0.0
#   See the "led" section for information on these parameters.


